<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>jwt 로그인 폼</title>
<script src="../../scripts/commons/node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../scripts/commons/node_modules/jquery.cookie/jquery.cookie.js"></script>
<script src="../../scripts/commons/ajax_commons.js"></script>
<script src="../../scripts/sign/signIn.js"></script>
</head>
<body>
<h1>jwt 로그인 폼</h1>
<span>아이디</span><input type="text" id="fId"/>
<span>비밀번호</span><input type="password" id="fPwd"/>
<button id="btn">로그인</button>
</body>

</html>