<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
<title>jwt 회원가입</title>
</head>
<script src="../../scripts/commons/node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../scripts/commons/node_modules/jquery.cookie/jquery.cookie.js"></script>
<script src="../../scripts/commons/ajax_commons.js"></script>
<script src="../../scripts/sign/signUp.js"></script>
<body>
<h1>jwt 회원 가입 폼</h1>

<span>아이디</span><input type="text" id="fId"/>
<span>비밀번호</span><input type="password" id="fPwd"/>

<button id="sbm">가입</button>

</body>
</html>